html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }

h1 {
    font-size: 60px;
    text-align: center;
  }

h1 {
    margin: 0;
    padding: 20px 0;
    color: rgb(65, 70, 104);
    text-shadow: 3px 3px 1px black;
  }
  

h2 {
    font-size: 20px;
    text-align: center;
}
  
p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

  html {
    background-color: #bcd5ed;
  }

  body {
    width: 600px;
    margin: 0 auto;
    background-color: #f8c47d;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(65, 70, 104);
  }
  

  img {
    display: block;
    margin: 0 auto;
  }
  
